.*
~*
*.sh
__pycache__/
*.py[cod]
!tests/.coveragerc
!.dockerignore
!.gitignore
!.github/
!.mypy.ini
!.pre-commit-config.yaml
!.bumpversion.cfg
!.trivyignore
version.py
coverage.xml
Makefile
site
dist/
